*{
	box-sizing: border-box; 
}
html, body{
	min-height: 100%; 
}
body{
	margin: 0; 
	font-family: arial;
}
.main-title{
	position: fixed; 
	bottom: 50px;
	right: 20px;
	z-index: 10; 
}
.enlarge{
font-size: 80px; 
}
.bg{
	height: 100vh; 
} 

.bg--light{ 
	background-color: #dec3c3; 
}
.bg--dark{ 
}
h2{
	margin: 0;
}
